<body class="bg-cyan-950 flex justify-center flex-col  items-center  h-screen text-white">
    <form [formGroup]="signUpForm" (ngSubmit)="SubmitionSignUpForm()" signUpForm="signUpfrom">
        <h2 class="text-center uppercase font-bold text-2xl  "> Sign Up </h2>
        <div class="mt-6">
            <input type="email" formControlName="email" placeholder="Email" name="email"
                class="p-2 rounded-3xl bg-white/20  text-white  outline-none w-60  focus:ring-4   focus:ring-cyan-800">
        </div>
        <div class="emailValidtion">
            @if(signUpForm.controls["email"].errors?.['required'] && signUpForm.controls["email"].touched){
            <span class="text-red-700  m-2 block"> Email is required </span>
            }

            @if(emailErrorMessage){
            <span class="text-red-700  m-2">{{emailErrorMessage}} </span>

            }
        </div>

        <div class="mt-5">
            <input type="password" name="password" formControlName="password" id="password" placeholder="password"
                class="p-2  rounded-3xl  bg-white/20  outline-none w-60  focus:ring-4   focus:ring-cyan-800">
        </div>
        <div class="passwordValidtion">
            @if( signUpForm.controls["password"].errors?.['required'] && signUpForm.controls["password"].touched){
            <span class="text-red-700 m-2 block"> Password is required </span>
            }
            @if(passwordErrorMessage){
            <span class="text-red-700 m-2">{{passwordErrorMessage}} </span>

            }
        </div>
        <input type="submit" value="Sign Up"
            class="p-2 cursor-pointer rounded-3xl w-60 text-black text-center mt-5 bg-white">
        <div class="text-center mt-1">
            <a href="" class="text-center" routerLink="/login"> Have an Account ?</a>
        </div>
    </form>
</body>